name: Hourly JMeter Test

on:
  schedule:
    - cron: "0 * * * *"   # UTC 时间每个整点跑，一天24次
  workflow_dispatch:      # 允许手动触发这个 workflow

jobs:
  jmeter-run:
    runs-on: [self-hosted, linux, ec2-jmeter]    # 使用 self-hosted 的 runner

    steps:
      - name: Run JMeter Script
        run: |
          cd /home/ubuntu/jmeter
          ./GoREST.sh
        shell: bash
