name: JMeter Test

on:
  workflow_dispatch:      # 允许手动触发这个 workflow

  schedule:
    - cron: '0 1 * * *'

jobs:
  jmeter-run:
    runs-on: [self-hosted, ubut2404]    # 使用 self-hosted 的 runner

    steps:
      - name: Run JMeter Script
        run: |
          cd /nvme1n1p1/jmeter
          ./GoREST.sh
        shell: bash
        
      - name: Upload JMeter Results        # 把结果上传到 GitHub Actions 页面
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: /home/ubuntu/jmeter/results/*
          
      - name: Confirm script finished
        run: echo "JMeter script executed successfully"


TS=$(date +%Y%m%d_%H%M%S)

jmeter -n \
  -t /nvme1n1p1/jmeter/GoREST.jmx \
  -l /nvme1n1p1/jmeter/results/GoREST_$TS.jtl \
  -e -o /nvme1n1p1/jmeter/reports/GoREST_$TS