name: RESTful API Test

on:
  push:
  schedule:
    - cron: "0 1 * * *"       # daily run
  workflow_dispatch:

jobs:
  test:
    runs-on: [self-hosted, linux, ec2-jmeter]    # 使用 self-hosted 的 runner

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Add project root to PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)" >> $GITHUB_ENV

      - name: Run pytest
        run: python -m pytest -q --disable-warnings --maxfail=1
